

:root {
    --background-color: #222831;
    --primary-color: #edebeb;
    --secondary-color: #31363F;
    --tertiary-color: #EEEEEE;
    --quaternary-color: #76ABAE;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    font-family: "Josefin Sans", sans-serif;
}

button {
    cursor: pointer;
    font-family: "Josefin Sans", sans-serif;

}

#titleWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: var(--primary-color);
}

label {
    display: block;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 1.4rem;
    color: var(--primary-color);
}


hr {
    border-width: 5px;
    border-style: solid;
    border-color: var(--secondary-color);
    margin-bottom: 50px;
    width: 97%;
    border-radius: 500px;
}


#entryWrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#quizCode {
    margin-bottom: 200px;
    padding: 10px;
    border-radius: 15px;
    border-color: var(--secondary-color);
    border-width: 7px;
    border-style: solid;
    box-shadow: 0px 0px 11px rgb(255, 255, 255);
    background-color: #d6d6d6;
    width: 80%;
    height: 600px;
    font-size: 1.1rem;
    resize: none;
}

#runWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.blueButton {
    padding: 10px 20px;
    border-radius: 15px;
    border-color: var(--secondary-color);
    border-width: 3px;
    border-style: solid;
    background-color: var(--quaternary-color);
    color: var(--primary-color);
    font-size: 2rem;
    transition: 0.1s ease-in-out;
    box-shadow: 0px 0px 5px rgb(255, 255, 255);
}

.blueButton:hover {
    background-color: #5c8b8e;
    transform: scale(1.05);
    box-shadow: 0px 0px 15px rgb(255, 255, 255);

}

.blueButton:active {
    background-color: #3a6165;
    transform: scale(0.95);
    box-shadow: 0px 0px 20px rgb(255, 255, 255);
}

#settingsWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

form hr {
    margin-top: 50px;
    margin-bottom: 50px;
}

form {
    font-family: "Josefin Sans", sans-serif;
}


input, select {
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.1rem;
    padding: 10px;
}

form label {
    font-size: 2rem;
}


#playWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

#questionIndicatorWrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--tertiary-color);
    font-size: 1.5rem;
}

#questionCount, #questionNumber {
    color: var(--quaternary-color);
}

#quizWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 10px;
}

#question {
    color: var(--primary-color);
}

#answersWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.answerButton {
    width: 70%;
    margin: 10px;
    padding: 10px 20px;
    font-size: 1.2rem;
    word-wrap: break-word;
    white-space: normal;
    border-radius: 10px;
}

#scoreWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    color: var(--quaternary-color);
    font-size: 4rem;
    text-align: center;
}

#scoreWrapper h1 {
    padding: 20px;
}

#correct {
    font-size: 3rem;
    color: var(--primary-color);
}

#overview {
    font-size: 1.1em;
}

#overviewWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    color: var(--quaternary-color);
    font-size: 4rem;
    text-align: center;
}


th {
    text-align: center;
    border: var(--secondary-color) solid 5px;
    color: var(--tertiary-color);
    font-weight: bold;
    padding: 10px 20px;
}

td {
    word-break: break-word;
    white-space: normal;
    overflow-wrap: break-word;
    padding: 15px;
    border: var(--secondary-color) solid 5px;
    font-size: 0.6em;
}

#overviewParentWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1207px) {
    #overviewTableWrapper {
        font-size: 0.5em;
    }
}

@media (max-width: 712px) {
    #overviewTableWrapper {
        font-size: 0.3em;
    }
}

@media (max-width: 340px) {
    #overviewTableWrapper {
        font-size: 5px;
    }
    td {
        font-size: 15px;
    }
    th {
        font-size: 7px;
    }
}